<div class="row">
  <div class="col-md-4">
    <%= image_tag @flick.flick_img.url(:flick_show), class: "flick-show" %>
  </div>
  <div class="col-md-8">
    <div class="flick-info">
    <h2 class="flick-title"><%= @flick.title %></h2>
    <h3 class="flick-director"><span><em>From: </em></span><%= @flick.director %></h3>
    <h4 class="flick-director"><%= @flick.category.name %></h4>
    <p class="flick-desc"><%= @flick.description %></p>
  </div>
</div>

<div class="links btn-group">
  <% if user_signed_in? %>
    <% if @flick.user_id == current_user.id %>
      <%= link_to "Edit", edit_flick_path(@flick) %>
      <%= link_to "Delete", flick_path(@flick), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  <% end %>
</div>
