<h2><%= @flick.title %></h2>
<h3><%= @flick.director %></h3>
<p><%= @flick.description %></p>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_flick_path(@flick) %>
<%= link_to "Delete", flick_path(@flick), method: :delete, data: { confirm: "Are you sure?" } %> 
