<h2><%= @flick.title %></h2>
<h3><%= @flick.director %></h3>
<h4><%= @flick.category.name %></h4>
<p><%= @flick.description %></p>

<div class="links btn-group">
  <% if user_signed_in? %>
    <% if @flick.user_id == current_user.id %>
      <%= link_to "Edit", edit_flick_path(@flick) %>
      <%= link_to "Delete", flick_path(@flick), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  <% end %>
</div>
